<div class="container">
    <div class="row mt-4">
        <h2>Hi! welcome to Sorte.Io.</h2> 
        <h3>We develop this solution to make drawings more simple and efficient.</h3> 
    </div>

    <div class="row">
        <div class="col-12">
            <p>
                In a home page you will find 2 buttons that you can choose 2 types of draw:
            </p>
    
            <ul>
                <li>Inputs list draw</li>
                <li>Upload file draw</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h3>INPUT LIST TO DRAW</h3>
        <p>
            This type of draw is very simple.

            Click on "Input list" button. 
            In the next page you'll see a text block. Inside the text block you will type (or paste) all values that you want to draw (e.g. Names, colors, cars, any value) separated by a semicolon. Then you just need to click in "Submit list" and the result will apear bellow.

            PS: We need it to be separated by semicolon, because is how our system reads and separates values. We are currently working on features to make this easier.
        </p>
    </div>

    <div class="row">
        <h3>UPLOAD FILE TO DRAW</h3>
        <p>
            Click on "Upload file" button. You will find a page that you can upload a files that with the data you want to draw. You just need to click the upload button, find your file and click in "Submit".The result will apear bellow.
            For now we need a .csv file and you just need to send the first column filled with your values ​​to draw (without column title).
        </p>
    </div>

    <div class="row">
        <h3>Sorte.Io team</h3>
        <p>
            We are constantly working on new ideas to improve our services. Soon we will leave a channel for suggestions and you can also visit our project on GitHub.
            Thank you for all and please, share us!
        </p>
    </div>
</div>
