<div class="container content">
    <div class="row mb-4" align="center">
        <div class="col-12">
            <h1>Welcome to Sorte.Io</h1>
        </div>
        
        <div class="col-12">
            <p>Please, select the method you want to send the data to draw!</p>
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-info btn-lg" (click)="list()">Input list</button>
        </div>

        <div class="col-2">
            <button class="btn btn-info btn-lg" (click)="uploadFile()">Upload File</button>
        </div>
    </div>

</div>